# MongodbDriver Configuration File
# Created 2023-02-17 16:47:45.744199
[mongodb]
# If set to true, then the CUSTOMER data will be denormalized into a single document
denormalize          = True
# The hostname to mongod
host                 = 0.0.0.0
# The port number to mongod
port                 = 7001
# Collection name
name                 = testdb
# Creds
username             = root
password             = passwd
